*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito';
}

html,body{
    height:100%;
    width:100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    box-shadow: 0 2px 15px rgba(130,130,130,0.2);
}

.nav-part2{
    display: flex;
    align-items: center;    
    gap: 4vw;
}


.nav h2{
    font-size: 2vw;
    font-weight:900;
}

.nav h4{
    font-size: 1vw;
}

.nav i{
    font-size: 1.6vw;
    font-weight: 800;
    display: none;
}

.content{
    height:calc(100% - 50px);
    width: 100%;
  
    display: flex;
    position: relative;
}

.left{
    height: 100%;
    width:55%;  
    padding: 5vh 3vw;
}

.left h1{
    font-size: 4vw;
    line-height: 4.4vw;
}

.left h1 span{
    color:lightseagreen
}

.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.right{
    height: 100%;
    width:45%;
    z-index: -1;
}

.right img{
    height: 80%;
    width: auto;
}

button{
    font-size: 1.5vw;
    font-weight: 800;
    padding: 1vw 2vw;
    background-color: lightseagreen;
    color: #fff;
    border:none;
    border-radius:15px;
}

#signin{
    font-size: 1vw;
    font-weight: 700;
    padding: 0.5vw 1vw;
    background-color: lightseagreen;
    color: #fff;
    border:none;
    border-radius:15px;
}

@media (max-width:600px){
    .nav{
        padding: 0 5vw;
        height: 50px;
    }
    .nav h2{
        font-size: 6vw;
    }
    .nav h4{
        font-size: 3vw;
        display: none;
    }

    .nav button{
        display:none;
    }

    .nav i{
        font-size: 6vw;
        font-weight: 800;
        display: block;
    }

    .content{
        height:calc(100% - 50px);
        flex-direction: column;
    }

    .right img{
        height:50%
    }

    .left{
        width:100%;  
        padding: 3vh 5vw;
    }
    
    .left h1{
        font-size: 10vw;
        line-height: 10vw;
    }
    
    .left h1 span{
        color:lightseagreen
    }
    
    .left p{
        font-size: 6.2vw;
        font-weight: 500;
        color: #666;
        width: 80%;
        margin-top: 5vw;
        margin-bottom: 4vw;
    }

    button{
        font-size: 8.5vw;
        font-weight: 800;
        padding: 1vw 4vw;
        background-color: lightseagreen;
        color: #fff;
        border:none;
        border-radius:15px;
    }

}
